<div th:fragment="footer">    
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div id="contact" class="col-lg-10 col-lg-offset-1 text-center">
                    <h4>
                        <strong>UJM Student's Social Network</strong>
                    </h4>
                    <i class="fa fa-envelope-o fa-fw" ></i>
                        <p>25, rue Docteur Rémy Annino
                        <br />Saint-Etienne, 42000</p>
                    <ul class="list-unstyled">
                        <li>
                            <i class="fa fa-phone fa-fw"></i> 
                            (+33) 4 77 91 57 15
                        </li>
                        <li>
                            <i class="fa fa-fax fa-fw"></i> 
                            (+33) 4 77 91 58 99
                        </li>
                        <li>
                            <i class="fa fa-info-circle fa-fw"></i> 
                            <a href="https://www.univ-st-etienne.fr/" target="_blank"><img src="images/logo_ujm.png" alt="UJM Website"></img></a>
                        </li>
                        <li>
                            <i class="fa fa-mail-forward fa-fw"></i>
                            <p>Any questions ? Send Email to</p>
                            <a class="imgFooterMail"><img src="images/clickhere.png" alt="ujmstudent@gmail.com"/>
                            </a>
                        </li>
                    </ul>
                    <hr class="small" />
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="https://dribbble.com/" target="_blank"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small" />
                    <p class="text-muted">Copyright &copy; Kevin Abrial, Julien BRAT, Youssef Mchich UJM SocialNetwork Students 2016</p>
                </div>
            </div>
        </div>
        <a id="to-top" th:href="@{#top}" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
    </footer>

        
    <!-- Jquery script -->
    <script th:src="@{/js/jquery.js}"></script>
    
    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
        
    <!-- Javascript home -->
    <script th:src="@{/js/home.js}" type="text/javascript" />
    
    <!-- Script React JS Librabry -->
    <script th:src="@{/lib/react.js}"></script>
    <script th:src="@{/lib/react-dom.js}"></script>
    <script th:src="@{/lib/superagent.js}"></script>
    <script th:src="@{/lib/babel-browser.js}"></script>

    <!-- Bootstrap table search-->
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/searchtable.js}"></script>
</div>