<!-- Footer -->
<div th:fragment="footer">
    <p>Create an account on Facebook</p>
    <a href="https://fr-fr.facebook.com/"  target="_blank"><img src="images/facebook_logo.png" alt="Create an account on Facebook"/></a>  
    <p>@ Copyright UJM Stutends Kevin Abrial, Julien BRAT, Youssef Mchich</p>
    <p>Any questions ? Send Email to</p>
    <a  onclick="       var aaa='@'; var m='ujmstudent'+aaa+'gmail.com';       this.innerHTML = m;       this.title = m;       this.href = 'mail'+'to:'+m;       this.onclick = null;       return false;       "><img src="images/clickhere.png" alt="Click to reveal"/></a>
</div>