<head th:fragment="header">
    
    <title>UJM Social Network</title>
    
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A social network for UJM's Students" />
    <meta name="author" content="Julien BRAT ; Youssef MCHICH ; Kevin ABRIAL" />

  
   <link rel="stylesheet" type="text/css" href="css/style.css"/>
  
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.css" rel="stylesheet"/>

    <!-- Custom Fonts Awesome -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
</head>

