.redMessage {
    color: red;
    font-weight : bold;
}

tr:nth-child(even) {
    background-color: lightgray;
}

#welcome {
    color: salmon;
    font-weight : bold;
    font-size: xx-large;
}

.btnright {
    float: right
}

.react {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    text-align: center;
    color: white;
}

.react {
    box-shadow: 6px 6px 6px salmon;
    margin-left: 100px;
    transition: box-shadow 1s,margin-right 1s;
}

.react:hover {
    box-shadow: 3px 3px 3px lightseagreen;
   /* transition: box-shadow 1s;*/
    margin-right: 90px;
}

.noreact {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: lightseagreen;
    text-align: center;
    color: white;
}

.noreact {
    box-shadow: 6px 6px 6px salmon;
    margin-left: 100px;
    transition: box-shadow 1s,margin-right 1s;
}

.noreact:hover {
    box-shadow: 3px 3px 3px lightseagreen;
   /* transition: box-shadow 1s;*/
    margin-right: 90px;
}