<!DOCTYPE html>
<html>
    <head lang="en" th:replace="fragments/header :: header" />
    <body>
        <!-- Navigation -->
        <a id="menu-toggle" th:href="@{#}" class="btn btn-dark btn-lg toggle">
            <i class="fa fa-bars"></i>
        </a>
        
        
        <nav lang="en" th:replace="fragments/sidebar :: sidebar"/>
            
        <!-- Header -->        
        <header id="top" class="header">
            
            <div class="text-vertical-center">
                <h1>Actualities</h1>
                </div>
        </header>
               
            <hr/>
            
            <table id="search" class="table table-hover">
                <thead>
                <tr>
                    <th>Person</th>
                    <th>Title</th>
                    <th>Message</th>
                    <th>Date</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Person</th>
                    <th>Title</th>
                    <th>Message</th>
                    <th>Date</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                </tfoot>
                <tbody>
                <tr th:each="actuality : ${ actualities }">
                    <td th:text="${actuality.person.lastName} + ' ' + ${actuality.person.firstName}"></td>
                    <td th:text="${actuality.title}"></td>
                    <td th:text="${actuality.message}"></td>
                    <td th:text="${actuality.date}"></td>

                    <td>
                        <a th:href="@{'/updateactuality?id=' + ${actuality.idActuality}}">
                            <button type="submit" class="btn btn-info">Update</button>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{'/deleteactuality?id=' + ${actuality.idActuality}}">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <hr />
            <h2 class="noreact">Add Actuality</h2>
            <hr/>
            <form method="post" th:action="@{/addactuality}" th:object="${actuality}">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1"><img src="images/logo_actualities.png"/></span>
                    <input type="text" class="form-control" th:field="*{title}" aria-describedby="sizing-addon1" placeholder="Title..."/>  
                    <input type="text" class="form-control" th:field="*{message}" aria-describedby="sizing-addon1" placeholder="Message..."/>
                </div>
                <br/>
                <button type="reset" class="btn btn-primary">Reset</button>
                <button type="submit" class="btn btn-success btnright">Submit</button>
            </form>
        <div lang="en" th:replace="fragments/footer :: footer"/>
    </body>
</html>
