<!DOCTYPE html>
<html>
    <head lang="en" th:replace="fragments/header :: header" />
    <body>
         <!-- Navigation -->
        <a id="menu-toggle" th:href="@{#}" class="btn btn-dark btn-lg toggle">
            <i class="fa fa-bars"></i>
        </a>
         
        <nav lang="en" th:replace="fragments/sidebar :: sidebar"/>
        
        <!-- Header -->
            <header id="top" class="header">
                <div class="text-vertical-center">
                <h1>Events</h1>
                </div>
            </header>
        
            <hr/>
            
            <table id="search" class="table table-bordered table-hover" >
                <thead>
                <tr>
                    <th>Owner</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Owner</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                </tfoot>
                <tbody>
                <tr th:each="event : ${ events }">
                    <td th:text="${event.owner.lastName} + ' ' + ${event.owner.firstName}"></td>
                    <td th:text="${event.name}"></td>
                    <td th:text="${event.description}"></td>
                    <td th:text="${event.date}"></td>
                    <td><a th:href="@{'/editEvent?id=' + ${event.idEvent}}"><button type="submit" class="btn btn-info">Update</button></a></td>
                    <td><a th:href="@{'/deleteEvent?id='+ ${event.idEvent}}"><button type="submit" class="btn btn-danger">Delete</button></a></td>
                </tr>
                </tbody>
            </table>
            <hr />
            

            <h2>Add Events</h2>
            <form method="post" th:action="@{/addevent}" th:object="${event}">
                <div class="input-group input-group-lg" style="position:absolute;">
                    <span class="input-group-addon" id="sizing-addon1"><img src="images/logo_events.png"/></span>
                    <input type="text" class="form-control" th:field="*{name}" aria-describedby="sizing-addon1" placeholder="Name..."/>  
                    <input type="text" class="form-control" th:field="*{description}" aria-describedby="sizing-addon1" placeholder="Description..."/>
                    <br /><br />
                    <span class="input-append" id="datetimepicker">
                        <input data-format="MM/dd/yyyy HH:mm:ss PP" type="text" th:field="*{date}"/><br />
                        <span class="add-on">
                            <i data-date-icon="icon-calendar" data-time-icon="icon-time" class="icon-calendar">
                            </i>
                        </span>
                    </span>
                    <br />
                    <button type="reset" class="btn btn-primary">Reset</button>
                    <button type="submit" class="btn btn-success btnright">Submit</button>
                </div>
            </form>
        <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet" />
        <div lang="en" th:replace="fragments/footer :: footer"/>
    </body>   
</html>
