<!DOCTYPE html>
<html>
    <head lang="en" th:replace="fragments/header :: header" />
    <body>
         <!-- Navigation -->
        <a id="menu-toggle" th:href="@{#}" class="btn btn-dark btn-lg toggle">
            <i class="fa fa-bars"></i>
        </a>
         
        <nav lang="en" th:replace="fragments/sidebar :: sidebar"/>
        
        <!-- Header -->
            <header id="top" class="header">
                <div class="text-vertical-center">
                <h1>Events</h1>
                </div>
            </header>
        
            <hr/>
            
            <table id="search" class="table table-bordered table-hover" >
                <thead>
                <tr>
                    <th>Owner</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Owner</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                </tfoot>
                <tbody>
                <tr th:each="event : ${ events }">
                    <td th:text="${event.owner}"></td>
                    <td th:text="${event.name}"></td>
                    <td th:text="${event.description}"></td>
                    <td th:text="${event.date}"></td>
                    <td><a th:href="@{'/updateevent?id=' + ${event.idEvent}}"><button type="submit" class="btn btn-info">Update</button></a></td>
                    <td><a th:href="@{'/deleteevent?id=' + ${event.idEvent}}"><button type="submit" class="btn btn-danger">Delete</button></a></td>
                </tr>
                </tbody>
            </table>
            <hr />
            <h2>Add Events</h2>
            <form method="post" th:action="@{/addevent}" th:object="${event}">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1"><img src="images/logo_events.png"/></span>
                    <input type="text" class="form-control" th:field="*{owner}" aria-describedby="sizing-addon1" placeholder="Owner..."/>
                    <input type="text" class="form-control" th:field="*{name}" aria-describedby="sizing-addon1" placeholder="Name..."/>  
                    <input type="text" class="form-control" th:field="*{description}" aria-describedby="sizing-addon1" placeholder="Description..."/>
                    <input type="date" class="form-control" th:field="*{date}" aria-describedby="sizing-addon1" placeholder="DD/MM/YYYY..."/>
                </div>
                <br />
                <input type="reset" value="Reset" class="btn btn-primary"/>
                <input type="submit" value="Submit" class="btn btn-success btnright"/>
            </form>
        <div lang="en" th:replace="fragments/footer :: footer"/>
    </body>   
</html>
