<!DOCTYPE html>
<html>
    <head lang="en" th:replace="fragments/header :: header" />
    <body>
         <!-- Navigation -->
        <a id="menu-toggle" th:href="@{#}" class="btn btn-dark btn-lg toggle">
            <i class="fa fa-bars"></i>
        </a>
         
        <nav id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <a id="menu-close" th:href="@{#}" class="btn btn-light btn-lg pull-right toggle">
                    <i class="fa fa-times"></i>
                </a>
                <li class="sidebar-brand">
                    <a th:href="@{#top}" onclick="$('#menu-close').click();">Start Bootstrap</a>
                </li>
                <li>
                    <a th:href="@{/}" onclick="$('#menu-close').click();">Home</a>
                </li>
                <li>
                    <a th:href="@{/actualities}" onclick="$('#menu-close').click();">Actualities</a>
                </li>
                <li>
                    <a th:href="@{/events}" onclick="$('#menu-close').click();">Events</a>
                </li>
                <li>
                    <a th:href="@{/groups}" onclick="$('#menu-close').click();">Groups</a>
                </li>
                <li>
                    <a th:href="@{/messages}" onclick="$('#menu-close').click();">Messages</a>
                </li>
                <li>
                    <a href="#profile" onclick="$('#menu-close').click();">Profile</a>
                </li>
                <li>
                    <a href="#contact" onclick="$('#menu-close').click();">Contact</a>
                </li>
            </ul>
        </nav>
        
        <!-- Header -->
            <header id="top" class="header">
                <div class="text-vertical-center">
                <h1>Groups</h1>
                </div>
            </header>
        
            <hr/>
            
            <table id="search" class="table table-hover">
                <thead>
                <tr>
                    <th>Owner</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Owner</th>
                    <th>Name</th>
                </tr>
                </tfoot>
                <tbody>
                <tr th:each="group : ${ groups }">
                    <td th:text="${group.owner}"></td>
                    <td th:text="${group.name}"></td>
                </tr>
                </tbody>
            </table>
            <hr />
            <h2>Add Groups</h2>
            <form method="post" th:action="@{/addgroup}" th:object="${group}">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1"><img src="images/logo_groups.png"/></span>
                    <input type="text" class="form-control" th:field="*{owner}" aria-describedby="sizing-addon1" placeholder="Owner..."/>
                    <input type="text" class="form-control" th:field="*{name}" aria-describedby="sizing-addon1" placeholder="Name..."/>   
                </div>
                <br />
                <input type="reset" value="Reset" class="btn btn-primary"/>
                <input type="submit" value="Submit" class="btn btn-success"/>
            </form>
        
        <div lang="en" th:replace="fragments/footer :: footer"/>
    </body>   
</html>
