<!DOCTYPE html>
<html>
    <head lang="en" th:replace="fragments/header :: header" />
    <body>
         <!-- Navigation -->
        <a id="menu-toggle" th:href="@{#}" class="btn btn-dark btn-lg toggle">
            <i class="fa fa-bars"></i>
        </a>
         
        <nav lang="en" th:replace="fragments/sidebar :: sidebar"/>
        
        <!-- Header -->
            <header id="top" class="header">
                <div class="text-vertical-center">
                <h1>Groups</h1>
                </div>
            </header>
        
            <hr/>
            
            <table id="search" class="table table-hover">
                <thead>
                <tr>
                    <th>Owner</th>
                    <th>Name</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Owner</th>
                    <th>Name</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                </tfoot>
                <tbody>
                <tr th:each="group : ${ groups }">
                    <td th:text="${group.owner.lastName} + ' ' + ${group.owner.firstName}"></td>
                    <td th:text="${group.name}"></td>
                    <td><a th:href="@{'/updateGroup?id=' + ${group.idGroup}}"><button type="submit" class="btn btn-info">Update</button></a></td>
                    <!--td><a th:href="@{'/deletegroup?id=' + ${group.idGroup}}"><button type="submit" class="btn btn-danger">Delete</button></a></td-->
                    <td><a th:href="@{'/deleteGroup?id='+ ${group.idGroup}}"><button type="submit" class="btn btn-danger">Delete</button></a></td>
                </tr>
                </tbody>
            </table>
            <hr />
            <h2 class="noreact">Add Groups</h2>
            <form method="post" th:action="@{/addGroup}" th:object="${group}">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1"><img src="images/logo_groups.png"/></span>
                    <input type="text" class="form-control" th:field="*{name}" aria-describedby="sizing-addon1" placeholder="Name..."/> 
                    <input type="text" id="autocompleteUsers" />
                    <span class="add-on">
                        <i  id="addUser" class="glyphicon glyphicon-plus">
                        </i>
                    </span>
                    <input type="text" th:field="*{users}" id="users"/>
                </div>
                <br />
                <button type="reset" class="btn btn-primary">Reset</button>
                <button type="submit" class="btn btn-success btnright">Submit</button>
            </form>
        
        <div lang="en" th:replace="fragments/footer :: footer"/>
    </body>   
</html>
