<!DOCTYPE html>
<html>
    <head lang="en" th:replace="fragments/header :: header"/>
    <body>
        <!-- Navigation -->
        <a id="menu-toggle" th:href="@{#}" class="btn btn-dark btn-lg toggle">
            <i class="fa fa-bars"></i>
        </a>
        
        <nav lang="en" th:replace="fragments/sidebar :: sidebar"/>
        
        <!-- Header -->
        <header id="top" class="header">
            <div class="text-vertical-center">
                <h1>Welcome to UJM social Network</h1>
                <h3>The free social network for the University of Saint-Etienne</h3>
                <br />
                
                <a th:if='!${user}' th:href="@{/login}" class="btn btn-dark btn-lg">Connect</a>
            </div>
        </header>
        
        <div lang="en" th:replace="fragments/footer :: footer"/>
    </body>   
</html>
