<!DOCTYPE html>
<html>
    <head lang="en" th:replace="fragments/header :: header"/>
    <body>
        <!-- Navigation -->
        <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle">
            <i class="fa fa-bars"></i>
        </a>
        
        <nav id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle">
                    <i class="fa fa-times"></i>
                </a>
                <li class="sidebar-brand">
                    <a th:href="@{#top}" onclick="$('#menu-close').click();">Start Bootstrap</a>
                </li>
                <li>
                    <a th:href="@{/}" onclick="$('#menu-close').click();">Home</a>
                </li>
                <li>
                    <a th:href="@{/actualities}" onclick="$('#menu-close').click();">Actualities</a>
                </li>
                <li>
                    <a th:href="@{/events}" onclick="$('#menu-close').click();">Events</a>
                </li>
                <li>
                    <a th:href="@{/groups}" onclick="$('#menu-close').click();">Groups</a>
                </li>
                <li>
                    <a href="#message" onclick="$('#menu-close').click();">Messages</a>
                </li>
                <li>
                    <a href="#profile" onclick="$('#menu-close').click();">Profile</a>
                </li>
                <li>
                    <a href="#contact" onclick="$('#menu-close').click();">Contact</a>
                </li>
            </ul>
        </nav>

        <!-- Header -->
        <header id="top" class="header">
            <div class="text-vertical-center">
                <h1>Welcome to UJM social Network</h1>
                <h3>The free social network for the University of Saint-Etienne</h3>
                <br />
                <a th:href="@{/login}" class="btn btn-dark btn-lg">Connect</a>
                <br />
                <br />
                <a th:href="@{/connect/facebook}" class="btn btn-dark btn-lg">Connect with Facebook</a>
            </div>
        </header>
        
        <div lang="en" th:replace="fragments/footer :: footer"/>
    </body>   
</html>
