<!DOCTYPE html>
<html>
    <head lang="en" th:replace="fragments/header :: header"/>
    <body>
        
        <!-- Header -->
        <header id="top" class="header">
            <div class="text-vertical-center">
                <h1>Information Profil to UJM social Network</h1>
            </div>
        </header>
        
        <nav lang="en" th:replace="fragments/sidebar :: sidebar"/>
        
            <hr/>
           
            <table id="search" class="table table-hover">
                <thead>
                <tr>
                    <th>PhoneNumber</th>
                    <th>Street</th>
                    <th>City</th>
                    <th>PostalCode</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>PhoneNumber</th>
                    <th>Street</th>
                    <th>City</th>
                    <th>PostalCode</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                </tfoot>
                <tbody>
                <tr>
                    <td th:text="${information.phoneNumber}"></td>
                    <td th:text="${information.street}"></td>
                    <td th:text="${information.city}"></td>
                    <td th:text="${information.postalCode}"></td>
                    <td><a th:href="@{'/updateinformations?id=' + ${information.idInformation}}"><button type="submit" class="btn btn-info">Update</button></a></td>
                    <td><a th:href="@{'/deleteinformations?id=' + ${information.idInformation}}"><button type="submit" class="btn btn-danger">Delete</button></a></td>
                </tr>
                </tbody>
            </table>
            <hr />
            <hr/>
            
        <form method="post" th:action="@{/addinformation}" th:object="${information}">
        <table class="table table-hover">
            <tr>
                <td>
                    <label>Phone Number :</label>
                </td>
                <td>
                    <input type="text" th:field="*{phoneNumber}"  placeholder="Phone Number..."/> 
                </td>
            </tr>
            <tr>
                <td>
                    <label>Street : </label>
                </td>
                <td>
                    <input type="text" th:field="*{street}"  placeholder="Street..."/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>City : </label>
                </td>
                <td>
                    <input type="text" th:field="*{city}"  placeholder="City..."/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Postal Code : </label>
                </td>
                <td>
                    <input type="text" th:field="*{postalCode}"  placeholder="Postal Code..."/>
                </td>
            </tr>
            <span th:if="${$error}" th:text="${error}"></span>
            </table>

            <button type="reset" class="btn btn-primary">Reset</button>
            <button type="submit" class="btn btn-success btnright">Submit</button>
           
             
        </form>
        
        <br/><br/>
        <div lang="en" th:replace="fragments/footer :: footer"/>
    </body>   
</html>