<!DOCTYPE html>
<html>
    <head lang="en" th:replace="fragments/header :: header"/>
    <body>
        
    <!-- Navigation -->
    <a id="menu-toggle" th:href="@{#}" class="btn btn-dark btn-lg toggle">
            <i class="fa fa-bars"></i>
    </a>
        
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" th:href="@{#}" class="btn btn-light btn-lg pull-right toggle">
                <i class="fa fa-times"></i>
            </a>
            <li class="sidebar-brand">
                <a th:href="@{#top}" onclick="$('#menu-close').click();">Start Bootstrap</a>
            </li>
            <li>
                <a th:href="@{/}" onclick="$('#menu-close').click();">Home</a>
            </li>
            <li>
                <a th:href="@{/actualities}" onclick="$('#menu-close').click();">Actualities</a>
            </li>
            <li>
                <a th:href="@{/events}" onclick="$('#menu-close').click();">Events</a>
            </li>
            <li>
                <a th:href="@{/groups}" onclick="$('#menu-close').click();">Groups</a>
            </li>
            <li>
                <a th:href="@{/messages}" onclick="$('#menu-close').click();">Messages</a>
            </li>
            <li>
                <a href="#profile" onclick="$('#menu-close').click();">Profile</a>
            </li>
            <li>
                <a href="#contact" onclick="$('#menu-close').click();">Contact</a>
            </li>
            </ul>
        </nav>
        
    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Welcome to UJM social Network</h1>
            <h3>The free social network for the University of Saint-Etienne</h3>
               
    <form role="form" action="/login" method="post">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <div>
            <label for="email">Email address</label>
            <input type="email" name="email" id="email" required="" />
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required="" />
        </div>
        <div>
            <label for="remember-me">Remember me</label>
            <input type="checkbox" name="remember-me" id="remember-me"/>
        </div>
        <button type="reset" class="btn btn-primary">Reset</button>
        <button type="submit" class="btn btn-success">Sign in</button>
    </form>
            <br />
    <a th:href="@{/user/create}"><button type="submit" class="btn btn-danger">Sign up</button></a>
    <a th:href="@{/connect/facebook}"><button type="submit" class="btn btn-danger">Sign up with facebook</button></a>
    
        <span th:if="${error.isPresent()}">
            <h3 class="redMessage">The email or password you have entered is invalid, try again.</h3>
        </span>
            
        </div>
    </header>
      
    <div lang="en" th:replace="fragments/footer :: footer"/>
    </body>   
</html>