<!DOCTYPE html>
<html>
    <head lang="en" th:replace="fragments/headermessages :: headermessages"/>
    <body>
        <!-- Navigation -->
        <a id="menu-toggle" th:href="@{#}" class="btn btn-dark btn-lg toggle">
            <i class="fa fa-bars"></i>
        </a>
        
       <nav lang="en" th:replace="fragments/sidebar :: sidebar"/>
 
        <!-- Header -->
        <header id="top" class="header">
            <div class="text-vertical-center">
                <h1>Messenger to UJM social Network</h1>
                <p id="welcome"><span th:if="${user}" th:text="'Welcome ' + ${user.lastName} + ' ' + ${user.firstName} + '.'"></span></p>
            </div>
        </header>
        <button class="btn btn-danger" onclick="myFunction()">Refresh</button>
        <div id="container"><p class="redMessage"> No React reading... Sorry... Maybe reload the page</p></div>
       
        <script type="text/babel" src="js/messages.jsx"></script>
        <button class="btn btn-danger btnright" onclick="myFunction()">Refresh</button>

    </body>
    
    <div lang="en" th:replace="fragments/footermessages :: footermessages"/>

</html>