<!DOCTYPE html>
<html>
    <head lang="en" th:replace="fragments/header :: header"/>
    <body>
        <!-- Navigation -->
        <a id="menu-toggle" th:href="@{#}" class="btn btn-dark btn-lg toggle">
            <i class="fa fa-bars"></i>
        </a>
        
       <nav lang="en" th:replace="fragments/sidebar :: sidebar"/>
 
        <!-- Header -->
        <header id="top" class="header">
            <div class="text-vertical-center">
                <h1>Messenger to UJM social Network</h1>
            </div>
        </header>
        
        <div id="container">TODO write content</div>
        <script type="text/babel" src="js/messapp.jsx"></script> 
        <script type="text/babel" src="js/userlist.jsx"></script> 
        <script type="text/babel" src="js/changenameform.jsx"></script> 
        <script type="text/babel" src="js/message.jsx"></script> 
        <script type="text/babel" src="js/messageform.jsx"></script> 
        <script type="text/babel" src="js/messagelist.jsx"></script> 
        
    </body>
    
    <div lang="en" th:replace="fragments/footer :: footer"/>

</html>