<!DOCTYPE html>
<html>
    <head lang="en" th:replace="fragments/header :: header"/>
    <body>
        <!-- Navigation -->
        <a id="menu-toggle" th:href="@{#}" class="btn btn-dark btn-lg toggle">
            <i class="fa fa-bars"></i>
        </a>
        
        <nav lang="en" th:replace="fragments/sidebar :: sidebar"/>
        
        <!-- Header -->
        <header id="top" class="header">
            <div class="text-vertical-center">
                <h1>Profile</h1>
            </div>
        </header>
        
        <table id="search" class="table table-hover">
                <thead>
                <tr>
                    <th>Login</th>
                    <th>LastName</th>
                    <th>FirstName</th>
                    <th>E-mail</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Login</th>
                    <th>LastName</th>
                    <th>FirstName</th>
                    <th>E-mail</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                </tfoot>
                <tbody>
                <tr>
                    <td th:text="${user.login}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.email}"></td>
                    <td><a th:href="@{'/updateUser?id=' + ${user.idUser}}"><button type="submit" class="btn btn-info">Update</button></a></td>
                    <!--td><a th:href="@{'/deleteuser?id=' + ${user.idUser}}"><button type="submit" class="btn btn-danger">Delete</button></a></td-->
                    <td><a th:href="@{'/deleteUser?id='+ ${user.idUser}}"><button type="submit" class="btn btn-danger">Delete</button></a></td>
                    <!--td><a href="#" th:href="@{/profil/delete/} + ${user.idUser}"><button type="submit" class="btn btn-danger">Delete</button></a></td-->
                </tr>
                </tbody>
            </table>
        
        
        <div lang="en" th:replace="fragments/footer :: footer"/>
    </body>   
</html>