<!DOCTYPE html>
<html>
    <head lang="en" th:replace="fragments/header :: header"/>
    <body>
        <!-- Header -->
        <header id="top" class="header">
            <div class="text-vertical-center">
                <h1>Update your profil to UJM social Network</h1>
            </div>
        </header>
        <form method="post" th:action="@{/updateProfil}" th:object="${user}">
        <table class="table table-hover">
            <tr>
                <td>
                    <label>Lastname :</label>
                </td>
                <td>
                    <input type="text" th:field="*{lastName}"  placeholder="LastName..."/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Firstname : </label>
                </td>
                <td>
                    <input type="text" th:field="*{firstName}"  placeholder="FirstName..."/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Email : </label>
                </td>
                <td>
                    <input type="email" th:field="*{email}"  placeholder="Email..."/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Login : </label>
                </td>
                <td>
                    <input type="text" th:field="*{login}"  placeholder="Login..."/>
                </td>
            </tr>
            <span th:if="${error}" th:text="${error}" style="color:red;"></span>
            </table>

            <button type="reset" class="btn btn-primary">Reset</button>
            <button type="submit" class="btn btn-success btnright">Submit</button>        
             
        </form>
        <br/><br/>
        <div lang="en" th:replace="fragments/footer :: footer"/>
    </body>   
</html>

