<!DOCTYPE html>
<html>
    <head lang="en" th:replace="fragments/header :: header"/>
    <body>
        <form method="post" th:action="@{/logout}" th:object="${user}">
        <table class="table table-hover">
            <tr>
                <td>
                    <label>Password : </label>
                </td>
                <td>
                    <input type="password" th:field="*{password}"  placeholder="Password..."/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Confirm password :</label>
                </td>
                <td>
                    <input type="password" th:field="*{passwordRepeated}"  placeholder="Password Repeated..."/>
                </td>
            </tr>
            <span th:if="${$error}" th:text="${error}"></span>
            </table>

            <button type="reset" class="btn btn-primary">Reset</button>
            <button type="submit" class="btn btn-success btnright">Submit</button>          
        </form>
        <div lang="en" th:replace="fragments/footer :: footer"/>
    </body>
</html>
